@import url('css/W95FA.css');

:root {
	--font-color: black;
	--background-color: #4f7486;
	--textarea-color: #d4e1d8;
	--font-size: 1em;
	font-size: var(--font-size);
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-size: var(--font-size);
	font-family: "Verdana";
	width: 250px;
}

.v-flex {
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}

.v-flex * {
	margin: 2.5px 0px;
}

.h-flex {
	display: flex;
	flex-direction: row;
}

.h-flex * {
	margin: 0px 2.5px;
}

.page {
	display: flex;
	flex-direction: column;
}

.popout {
	box-shadow: 1px 1px white inset;
	border: 1px solid black;
}

.popin {
	box-shadow: 3px 3px black inset, 3px 3px white;

}

.page {
	box-shadow: 1px 1px white inset;
	border: 1px solid black;
	padding: 10px;
}

#options-page .h-flex {
	width: 100%;
}

#options-page button {
	width: 100%;
}

.hidden {
	display: none;
}

footer {
	position: absolute;
	bottom:0;
	border: 1px solid black;
	box-shadow: 1px 1px white inset;
	padding: 10px;
}

#ids {
	position: relative;
}

#id-list {
	position: absolute;
	left:0;
	top:100%;
}

#id-list div {
	background: lightgray;
	padding: 5px;
	border: solid 1px black;
	display: none;
}

#id-list div:hover {
	filter: brightness(150%);
	cursor: pointer;
}

#ids:hover div {
	display: block;
}

textarea {
	all: unset;
	box-shadow: 3px 3px inset black, 3px 3px white;
	padding: 5px;
	height: 40vh;
	background-color: var(--textarea-color);
	color: var(--font-color);
	font-size: 1.7em;
	font-family: 'ClashDisplay-Semibold', 'W95FA', 'Comic Sans MS';
}

textarea:hover {
	cursor: text;
}

#links-grid {
	display: grid;
	grid-template-columns: repeat(3, 30%);
	max-height: 40vh;
	overflow: auto;
	gap: 3%;
	align-items: flex-start;
}

#links-grid * {
	flex-grow: 0;
}

#links-grid a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: var(--font-color);
	place-items: center;
	flex-grow:0;
	box-shadow: 1px 1px white inset;
	border: 2px solid black;
}

#links-grid a:hover {
	cursor: pointer;
}

#links-grid span {
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

#links-grid a img,svg {
	width: 100%;
	aspect-ratio: 1/1;
	z-index: -1;
}

th {
	text-align:start;
	border-bottom: 2px solid black;
}

#holds-page #amount {
	width: 30vw;
}

button {
	all: unset;
	padding: 3px;
	box-shadow: 1px 1px black, 2px 2px inset white;
	padding-right: 10px;
	border: solid 2px black;
	background-color: lightgray;
	user-select: none;
	font-family: 'W95FA';
	font-size: 1.2em;
	width:min-content;
}

button:hover {
	cursor: pointer;
}

button:first-letter {
	text-decoration:underline;
}

button:active {
	filter:brightness(50%);
}

input {
	background-color: var(--textarea-color);
	font-family: 'W95FA';
	box-shadow: 1px 1px white, 1px 1px black inset;
}

#holds-page button {
	width: auto;
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
}

#add-link-popup {
	background-color: var(--background-color);
	width: 250px;
	height: min-content;
	padding: 10px;
	position: absolute;
	top:50%;
}